header {
  padding: 5px 2%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.logo-header {
  width: 33px;
  height: 33px;
  margin-top: 10px;
}

.icon-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--cor1);
}

.center-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 170px;
}
.search-bar {
  position: relative;
  display: inline-block;
}

.lupa-header {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 23px;
  color: var(--cor3);
}

.fa-window-restore {
  position: absolute;
  top: 12px;
  left: 390px;
  font-size: 23px;
  color: var(--cor3);
}
.search {
  padding: 15px;
  border: none;
  width: 430px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--cor1);
}

.search::placeholder {
  color: var(--cor3);
  padding-left: 30px;
}

.search:focus {
  color: var(--cor3);
  padding-left: 45px;
  font-weight: 600;
}

.search:focus::placeholder {
  color: transparent; /* Esconde o placeholder enquanto o usuário digita */
}

.fa-house {
  background-color: var(--cor1);
  padding: 15px;
  font-size: 18px;
  border-radius: 50%;
}

.end-header ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  align-items: center;
}

.end-header li {
  display: flex;
  align-items: center;
  gap: 5px;
}
